
.hourly-weather {
    display: grid;
    grid-template-columns: 150px 200px 150px;
    grid-template-rows: auto 10px 64px;
    grid-template-areas: 
    "time weather temp"
    ". iconImg temperature"
    "button button button";
    
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    margin-top: 30px;
    width: 425px;
    height: 110px;
    border-radius: 25px;
    padding: 20px;
    color: rgb(5, 5, 5);
}

.temps {
    grid-area: temp;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;  
}

.weather-temps {
    grid-area: temperature;
}
.weather-hourly-text {
    grid-area: weather;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;   
}

.time {
    grid-area: time;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.icon {
    grid-area: iconImg;
}

.hourly-weather-details {
    display: grid;

    grid-template-columns: 150px 150px 150px;
    grid-template-rows: auto; 
    grid-template-areas: 
    "rain weather wind"
    ". cloud speed"
    "button . .";
  
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    margin-top: 30px;
    width: 425px;
    height: 110px;
    border-radius: 25px;
    padding: 20px;
    color: rgb(5, 5, 5);
}

.rain {
    grid-area: rain;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.weather {
    grid-area: weather;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.weather-text-details {
    grid-area: cloud;
}

.wind {
    grid-area: wind;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.wind-speed {
    grid-area: speed;
}

.button {
    grid-area: button;
}

.button-details {
    grid-area: button;
}

.btn-details {
    background-color: rgba(85, 96, 110, 0.116);
    box-shadow: 2px 0px 7px #080808b4;
    width: 95px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 34px;
    border: none;
    color: blue;
}

.btn-details:hover {
    cursor: pointer;
    background-color: #161618d0;;
    color: white;
}

.btn-hide-details {
    background-color: hsla(214, 13%, 38%, 0.116);
    box-shadow: 2px 0px 7px #080808b4;
    width: 95px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    color: blue;
}

.btn-hide-details:hover {
    cursor: pointer;
    background-color: #161618d0;
    color: white;
}

.hourly-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    flex-direction: row;
}