
.hourly-weather {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    width: 425px;
    height: 100px;
    border-radius: 25px;
    padding: 20px;
    color: rgb(5, 5, 5);
    
}
.weather-hourly-text {
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
    
}

.weather-temps {
    text-decoration-style: solid;
    flex-direction: row;
    width: 20px;
}

.icon {
    flex-direction: row;
   
} 

.date {
    flex-direction: row;
}

.hourly-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-direction: row;
}

.time {
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.btn-details {
    margin-top: 20px;
    background-color: rgb(218, 205, 205);
    box-shadow: 2px 0px 7px #080808b4;
    width: 95px;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    border: none;

}