
.days-forecast {
    display: grid;
    grid-template-columns: 200px 150px 150px;
    grid-template-rows: auto;
    grid-template-areas: 
    "date date date "
    "temp weather iconImg"
    "button button button"; 

    align-items: start;  
    justify-self: stretch;          
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    width: 480px;
    height: 130px;
    margin-top: 40px;
    padding: 20px;
    color: rgb(5, 5, 5);
}


.toggle-button {
    background-color: rgb(218, 205, 205);
    box-shadow: 2px 0px 7px #080808b4;
    width: 95px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    grid-area: button;
    border: none;
} 

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button-hide {
    background-color: rgb(218, 205, 205);
    box-shadow: 2px 0px 7px #080808b4;
    width: 95px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
}

.toggle-button-hide:hover {
    cursor: pointer;
}

.date {
    grid-area: date;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
    justify-self: start;
}

.temp {
    grid-area: temp;
    justify-self: center;
}

.icon {
    grid-area: iconImg;
    justify-self: start;
}

.weather-days-text {
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4;
}

.div-forecast-details{
    display: grid;
    grid-template-columns: 200px 150px 150px;
    grid-template-rows: auto;
    grid-template-areas: 
    "cloud rain wind"
    "cover litres speed"
    "button button button";
    
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    width: 480px;
    height: 130px;
    margin-top: 40px;
    padding: 20px;
    color: rgb(5, 5, 5);
}

.cloud-text{
    grid-area: cloud;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4; 
}

.cloud-cover {
    grid-area: cover;
    justify-self: center;
}

.rain-text {
    grid-area: rain;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4; 
}

.rain-percent {
    grid-area: litres;
}

.wind-text {
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4; 
}

.wind-speed {
    grid-area: speed;
}

.five-day-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-direction: column;
}