
.topnav {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 1300px;
    margin-top: 15px;
    margin-left: 10px;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    padding: 1px;
}

.topnav a {
    float: left;
    display: block;
    color: #000000d5;
    text-align: center;
    text-shadow: 0.5px 0.5px  #0000003f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;  
}

.topnav a:hover {
    color: ivory;
    font-size: 20px;
}


.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 9px;
    margin-bottom: 6px;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 50px;
    background-color: #f5f5f5;
}

.suggestions {
    margin-left: 50px;
    border-radius: 25px;
}

.suggestion-text {
    margin-left: 35px;
    margin-right: 25px;
}

.nav-flex {
    margin-left: 35px;
}

.city {
    margin-left: 200px;
    margin-top: 15px;
    color: ivory;
    font-size: 18px;
    text-shadow: 2px 0px 7px #080808b4; 
}

