
.home-page {
    width: 500px;
    height: auto;
    margin: 30px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
 
}

.home-page>h1 {
    text-shadow: 1px 0px 5px #080808b4; 
}

.home-page>h2 {
    text-shadow: 1px 0px 7px #080808b4; 
}