
.today-div-forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "city city city city"
    ". date date ."
    "weatherInfo weatherInfo temps weatherIcon"
    "btnDaily . . btnHourly";
    margin-top: 40px;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    width: 325px;
    height: 360px;
    border-radius: 25px;
    padding: 35px;    

}

.city-temps {
   grid-area: temps;
   color: black;
   font-size: 25px;
   text-shadow: 2px 0px 7px #080808b4; 
}

.date {
    grid-area: date;
    color: black;
    text-shadow: 2px 0px 7px #080808b4; 
    font-size: 25px;
}

.city-name {
    color: ivory;
    justify-self: center;
    font-size: 27px;
    text-shadow: 2px 0px 7px #080808b4; 
}

.weather-icon {
   grid-area: weatherIcon;
   justify-self: center;
}

.weather-info {
  grid-area: weatherInfo;
  color: black;
  font-size: 24px;
  text-shadow: 2px 0px 7px #080808b4; 
}

.city-name {
    grid-area: city;
}

.city-temps {
    margin-left: 40px;
}

.fivedaysBtn {
    grid-area: btnHourly;
    background-color: hsla(214, 13%, 38%, 0.116);
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    padding: 4px;
}

.fivedaysBtn a:hover {
    color: ivory;
}

.hourlyBtn {
    grid-area: btnDaily;
    background-color: hsla(214, 13%, 38%, 0.116);
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    padding: 4px;
}

.hourlyBtn a:hover {
    color: ivory;
}
