
.today-div-forecast {
    display: grid;
    grid-template-columns: 130px 70px 150px;
    grid-template-rows: 150px 170px 150px;
    grid-template-areas: 
    "city . weatherIcon"
    "date . weatherInfo"
    "btnHourly . btnDaily";
    margin-top: 40px;
    
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    width: 325px;
    height: 375px;
    border-radius: 25px;
    padding: 30px;  
    color: rgb(5, 5, 5);
}

.city-name-temp {
   grid-area: city;

    
}

.city-name {
    color: ivory;
    font-size: 25px;
    text-shadow: 2px 0px 7px #080808b4; 
}

.weather-icon {
   grid-area: weatherIcon;
}

.weather-info {
  grid-area: weatherInfo;
  color: ivory;
  font-size: 20px;
  text-shadow: 2px 0px 7px #080808b4; 
}


.temps {
    grid-area: temp;
}

.city-temps {
    margin-left: 40px;
}

.fivedaysBtn {
    grid-area: btnHourly;
    justify-self: end;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 25px;
}

.fivedaysBtn a:hover {
    color: ivory;
}

.hourlyBtn {
    grid-area: btnDaily;
    background-color:  #8c88a3d0;
    box-shadow: 2px 0px 7px #080808b4;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 25px;
}

.hourlyBtn a:hover {
    color: ivory;
}

.date {
    grid-area: date;
    color: ivory;
    text-shadow: 2px 0px 7px #080808b4; 
}